@import url('https://fonts.googleapis.com/css?family=Righteous');

body{
    background-color: black;
}

#logo-box{
    background: black;
}

.btn{
background-color: #DE1E00;
}

#page-welcome{
    background-image: url(../img/welcome.png);
    background-size: 1500px 660px;
    background-repeat: no-repeat;
    text-align: center;
}

.card .card-img-top{
    height: 30vh;
    width: 20vh;
    margin: 40px 40px; 
}

.carousel-caption {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 20px 20px;
    text-align:left;
}

.card{
    flex-direction: column;
    width: 270px;
    height: 890px;
    margin: 20px 20px;
    border-radius: 25px;
    background: rgb(187, 74, 153);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border:1px solid #2B4D86;
    color:#2B4D86;
    font-size: 14px;
}

footer {
    background-color:black;
    text-align: center;
    font-size: 16px;
    color: white;
}

footer img{
    padding-left: 1%;
}

#button-welcome{
    width: 120px;
    height: 50px ;
    align-content: center;
    margin: 20px 20px;
}

.logo{
    width: 40%;
    height: 70% ;
}

.logo-2 {
    width: 60%;
    height: 50% ;
    margin: 40px 20px;
}

.navbar-nav{
    float: right;
}

h1{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: normal;
text-align: center;
color: white;
}

h2{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: normal;
text-align: center;
color: white;
}

.dircc {
    float: right;
    padding-right: 4%;
    color: rgb(235, 229, 229);
}

.d-block {
    width: 100%;
    height:32rem;
    border: 4px solid rgb(122, 118, 118);
}

/*.hide{
    display: none;
}*/

@media screen and (max-width: 600px){
    .row-padding{
        padding: 10px;
    
}
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cards {
    margin: 30px auto;
    width: 300px;
    height: 500px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .cards .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .cards .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .cards .card_title {
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -80px;
    height: 40px;
    color: white;
  }
  
  .cards:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

.moviethon-content{
    background-color: black;
}

#card-deck {
    background-color: #3C3B41;
    color: #FFFFFF;
}